I know this is supposed to be the things to be ignored, but right now I'm just checking things out.

One, two, buckle my shoe.
Three, four, couldn't fit through the door.
Five, six, pick up the sticks.
